<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Monitoramento - Portão Eletrônico</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

  <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
</head>
<body>

  <div class="card">
    <h2>Portão Eletrônico</h2>
    <p>Broker MQTT: <span id="conexao" class="status offline">Desconectado</span></p>
    <hr>

    <div class="info">
      <strong>Distância:</strong> <span id="distancia">--</span> cm
    </div>
    <div class="info">
      <strong>Presença:</strong> <span id="presenca">--</span>
    </div>
    <div class="info">
      <strong>Estado:</strong> <br>
      <span id="estado" class="badge fechado">FECHADO</span>
    </div>

    <!-- Exibe o total retornado pelo Flask através do Jinja2 -->
    <div class="info">
      <strong>Total de Entradas:</strong> <br>
      <span id="entradas">{{ numero_entradas }}</span>
    </div>
  </div>

  <!-- Script JS puxado da pasta static -->
  <script src="{{ url_for('static', filename='index.js') }}"></script>
  
</body>
</html>